/**
 * .env.example
 *
 * This file contains environment variables for the application.
 * Please create a copy of this file and rename it to .env before
 * running the application.
 */

API_URL=http://localhost:5000/api
DATABASE_URL=mongodb://localhost:27017/budgetwise

JWT_SECRET=your_secret_key

# React Frontend
VITE_API_URL=http://localhost:5000/api

# Backend
NODE_ENV=development
PORT=5000